.footer {
	padding-top: 32px;
	padding-bottom: 24px;
	color: var(--beige-color);
	@media screen and (min-width: $table) {
		padding-top: 64px;
		padding-bottom: 40px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		margin-bottom: 32px;
		height: 31px;
		width: 222px;
		@media screen and (min-width: $table) {
			margin-bottom: 64px;
			height: 57px;
			width: 400px;
		}
	}

	&__copyright {
		margin-bottom: 16px;
	}

	&__developers {
		line-height: 140%;
	}

	&__link {
		color: var(--beige-color);
	}
}
