.modal {
	position: fixed;
	background-color: rgba(#2c2826, 0.5);
	inset: 0;
    cursor: pointer;
    display: flex;
    overflow-y: auto;
    padding: 30px 6px;
	&__main {
        position: relative;
        cursor: default;
        padding: 16px;
        border-radius: 32px;
        background-color: var(--white-color);
        margin: auto;
	}

	&__close {
        position: absolute;
        top: 16px;
        right: 16px;
        border: 0;
        background-color: inherit;
	}
}
.modal-pizza {
	&__img {
	}

	&__title {
	}

	&__toppings {
	}

	&__info {
	}

	&__price {
	}

	&__size {
	}

	&__form {
	}

	&__fieldset {
	}

	&__checkbox {
	}

	&__label {
	}

	&__add-cart {
	}
}
