.toppings {
    padding-top: 67px;
    padding-bottom: 8px;
		&__title {
            position: fixed;
            transform: scale(0);
		}

		&__open-button {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 16px;
            &.toppings__open-button--active {
                .toppings__icon {
                    transform: scale(-1);
                }
            }
		}
        &__icon {
            margin-left: 4px;
            transform: scale(1);
            transition: transform 5s linear;
        }

		&__list {
            display: none;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 16px;
            &.toppings__list--show {
                display: flex;
            }
            
		}

        &__button {
            display: block;
            color: var(--beige-color);
            &:focus {
                background-color: var(--orange-color);
                color: var(--white-color);
            }
        }


		&__input {
            position: absolute;
            appearance: none;
            &:checked+.toppings__button {
                background-color: var(--orange-color);
                color: var(--white-color);
            }
		}
}