.toppings {
	padding-top: 67px;
	padding-bottom: 8px;
	@media screen and (min-width: $table) {
		padding-top: 92px;
		padding-bottom: 16px;
	}
	&__title {
		position: fixed;
		transform: scale(0);
		font-weight: 600;
		font-size: 24px;
		@media screen and (min-width: $desktop) {
			transform: scale(1);
			position: relative;
			margin-bottom: 16px;
		}
	}

	&__open-button {
		padding: 0;
		border: none;
		background-color: transparent;
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 16px;
		@media screen and (min-width: $table) {
			font-size: 24px;
		}
		@media screen and (min-width: $desktop) {
			display: none;
		}
		&.toppings__open-button--active {
			.toppings__icon {
				transform: scale(-1);
			}
		}
	}
	&__icon {
		margin-left: 4px;
		transform: scale(1);
		transition: transform 0.5s ease-out;
	}

	&__list {
		display: none;
		flex-wrap: wrap;
		gap: 8px;
		margin-bottom: 16px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease;
		@media screen and (min-width: $table) {
			margin-bottom: 16px;
		}
		@media screen and (min-width: $desktop) {
			display: flex;
			max-height: 100%;
			margin-bottom: 32px;
		}
		&.toppings__list--show {
			display: flex;
		}
	}

	&__button {
		display: block;
		color: var(--beige-color);
		&:focus {
			background-color: var(--orange-color);
			color: var(--white-color);
		}
	}

	&__input {
		position: absolute;
		appearance: none;
		&:checked + .toppings__button {
			background-color: var(--orange-color);
			color: var(--white-color);
		}
	}
}
